/* frontend/src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    user-select: none;
    -webkit-touch-callout: none;
    box-sizing: border-box;
  }

  body {
    font-family: 'Inter', sans-serif;
    overflow: hidden; /* sem scroll no kiosk */
  }
}
